h1{
    color: black;
    font-size: xxx-large ;
    font-family: Arial, Georgia, Impact, sans-serif;
}  p{
    color: grey;
    font-size: medium;
    font-family: Arial, Georgia, Impact, sans-serif;
}